.btn-primary {
    background-color: #222831;
    color: white;
}
a {
    text-decoration: none;
}
.btn-primary:hover {
    background-color: white;
    color: #222831;
}
body {
    margin: 0;
    text-align: center;
    font-family: "Abel", sans-serif;
    color: #222831;
}
.home {
    background-color: #ff7b54;
    margin: 0;
}
.my-projects {
    background-color: #ffb26b;
    padding-top: 40px;
    padding-bottom: 40px;
}
.contact-me {
    background-color: #ff7b54;
    margin: 0;
    padding: 3rem;
}
h1 {
    margin-top: 0;
    font-family: "Redressed", cursive;
    font-size: 5rem;
    margin-bottom: 1rem;
}
h2 {
    font-family: "Xanh Mono", monospace;
    font-size: 3rem;
}
p {
    margin: 1rem;
    font-size: 2rem;
}
.top-cloud {
    position: relative;
    width: 12rem;
    padding-top: 1rem;
    left: 20rem;
}
.bottom-cloud {
    position: relative;
    width: 12rem;
    bottom: 10rem;
}
.mountain {
    height: 20rem;
    width: 40rem;
}
.projects {
    text-align: left;
    padding: 10px;
}
.projects img {
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    border: solid 10px #222831;
}
.profile-img {
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    border: solid 10px #222831;
}
.project-img {
    text-align: center;
}
hr {
    width: 5%;
    margin: auto;
    background-color: #ffb26b;
    border-style: dotted;
    border-color: white;
    border-bottom: 0;
    border-width: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
}

@media (max-width: 900px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
    .top-cloud {
        width: 8rem;
        left: 14rem;
    }
    .bottom-cloud {
        width: 6rem;
    }
    .mountain {
        width: 30rem;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    p {
        font-size: 1.5rem;
    }
    .top-cloud {
        width: 6rem;
        left: 8rem;
    }
    .bottom-cloud {
        display: none;
    }
    .projects img {
        width: 15rem;
        height: 15rem;
    }
}

@media (max-width: 500px) {
    .mountain {
        height: 15rem;
        width: 20rem;
    }
}

@media (max-width: 360px) {
    .top-cloud {
        width: 4rem;
        left: 5rem;
    }
    .mountain {
        width: 18rem;
    }
}
